body {
    background-image: url('images/wallaper.jpg');
    background-repeat: repeat;
    background-size: cover;
}

.button-sudoku {
    position: flex;
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 3%;
    padding: 0px;
    color: #f3f3f3;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    border: 2px solid #171717;
    background-color: #5E6558;
    background-image: linear-gradient(to right, #171717 50%, transparent 50%);
    background-position: 100% 0%;
    background-size: 200% 100%;
    transition: 0.5s;
}

.button-sudoku:hover {
    color: #5E6558;
    background-position: 0% 50%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

#img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 50px;
}
