body {
    background-image: url('images/wallaper.jpg');
    background-repeat: repeat;
    background-size: cover;
}

#table {
    margin: 0 auto;
    margin-top: 40px;
    position: flex;
    display: block;
    background-color: #171717;
}

td {
    border-style: solid;
    border-color: transparent;
    border-collapse: collapse;
    align-content: center;
    text-align: center;
    padding: 0.5em;
    color: white;
    transition: all 0.5s ease-in-out;
}

.small>tr>td {
    height: 50px;
    width: 60px;
    font-size: 20pt;
}

.medium>tr>td {
    height: 50px;
    width: 65px;
    font-size: 20;
    padding: 0.2em;
}

.big>tr>td {
    height: 10px;
    width: 30px;
    font-size: 13pt;
}

td:hover {
    background-color: darkgrey;
    cursor: pointer;
}

td.fixo {
    background-color: #5E6558;
    color: white;
}

.wrong {
    background-color: red;
    color: white;
}

#button-back {
    position: flex;
    display: block;
    width: 200px;
    margin-left: 0 auto;
    margin-top: 3%;
    padding: 0px;
    color: #f3f3f3;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    border: 2px solid #171717;
    background-color: #5E6558;
    background-image: linear-gradient(to right, #171717 50%, transparent 50%);
    background-position: 100% 0%;
    background-size: 200% 100%;
    transition: 0.5s;
}
#button-back:hover {
    color: #5E6558;
    background-position: 0% 50%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.button-sudoku {
    position: flex;
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 3%;
    padding: 0px;
    color: #f3f3f3;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    border: 2px solid #171717;
    background-color: #5E6558;
    background-image: linear-gradient(to right, #171717 50%, transparent 50%);
    background-position: 100% 0%;
    background-size: 200% 100%;
    transition: 0.5s;
}

.button-sudoku:hover {
    color: #5E6558;
    background-position: 0% 50%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

#div-top {
    display: none;
}
#div-table {
    display: none;
}

.button {
    border-width: 0px;
    margin-left: 40px;
    margin-top: 5%;
    width: 200pt;
    height: 270pt;
    cursor: pointer;
    background-size: cover;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    width: 250pt;
    height: 280pt;
}

#button-easy {
    background-image: url('images/buttons/easy.png');
}
#button-easy:hover {
    background-image: url('images/buttons/easy-2.png');
}

#button-medium {
    background-image: url('images/buttons/medium.png');
}
#button-medium:hover {
    background-image: url('images/buttons/medium-2.png');
}

#button-hard {
    background-image: url('images/buttons/hard.png');
}
#button-hard:hover {
    background-image: url('images/buttons/hard-2.png');
}

#button-god {
    background-image: url('images/buttons/god.png');
}
#button-god:hover {
    background-image: url('images/buttons/god-2.png');
}